html{
  box-sizing: border-box;
}

body{
  background: linear-gradient(
      90deg,
      rgb(18, 3, 56) 0%,
      rgb(189, 17, 48) 100%
  );
}

.left-align {
  text-align: center;
}
.featured-movies {
  border-radius: 6px;
  background: linear-gradient(
      90deg,
      rgb(193, 187, 207) 0%,
      rgb(61, 53, 53) 100%
  );
  margin: 50px 0 50px 50px; 
  width: 400px;
  padding: 32px;
}
.middle {
  border-radius: 6px;
  background: linear-gradient(
      90deg,
      rgb(193, 187, 207) 0%,
      rgb(61, 53, 53) 100%
  );
  width: 400px;
  padding: 42px;
  position: absolute;
  top: 63%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.middle-btm {
  border-radius: 6px;
  background: linear-gradient(
      90deg,
      rgb(193, 187, 207) 0%,
      rgb(61, 53, 53) 100%
  );
  width: 400px;
  padding: 32px;
  position: absolute;
  top: 126%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.btm-right {
      border-radius: 6px;
      background: linear-gradient(
      90deg,
      rgb(193, 187, 207) 0%,
      rgb(61, 53, 53) 100%
  );
      width: 440px;
      padding: 32px;
      position: absolute;
      top: 35%; 
      left: 85.9%; 
      transform: translateX(-50%); 
  }
  .top-right {
      border-radius: 6px;
      background: linear-gradient(
      90deg,
      rgb(193, 187, 207) 0%,
      rgb(61, 53, 53) 100%
  );
      width: 400px;
      padding: 32px;
      position: absolute;
      top: 98.1%; 
      left: 82.9%; 
      transform: translateX(-50%); 
  }
    
  .button-link {
      display: inline-block;
      padding: 10px 20px;
      background:linear-gradient(
          90deg,
      rgb(18, 3, 56) 0%,
      rgb(189, 17, 48) 100%
      );
      color: white; 
      text-decoration: none; 
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease; 
    }
    
    .button-link:hover {
      background: rgb(73, 4, 35);
      color: white;
    }
    
  .kuku{
      color:rgb(18, 3, 56) 
  }

.centered-search-bar {
  display: flex;
  justify-content: center; 
}


.movie-card {
  display: flex;
  flex-direction: column;
  align-items: top;
  text-align: center;
}

.image-container {
  width: 100%; 
  max-width: 900px; 
  margin: 0 auto; 
}

.movie-image {
  max-width: 100%; 
  height: auto; 
}

.movi-card {
  display: flex;
  flex-direction: column;
  align-items: top;
  text-align: center;
}

.imag-container {
  width: 100%; 
  max-width: 900px; 
  margin: 0 auto; 
}

.movi-image {
  max-width: 100%; 
  height: auto; 
}





