/* Login.css */

/* Center the login form on the page */
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(18,3,56);
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }
  
  input {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: rgb(189,17,48);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: rgb(238, 11, 11);
  }
  